# # Ignore virtual environment
# venv/
# env/

# # Ignore database files
# db.sqlite3

# # Ignore static and media files
# staticfiles/
# media/

# # Ignore compiled Python files
# *.pyc
# __pycache__/

# # Ignore deployment files
# gunicorn/
# nginx/
# scripts/

# # Ignore shell script files
# *.sh
