option_settings:
  aws:elasticbeanstalk:application:environment:
    DJANGO_SETTINGS_MODULE: "loginSignup.settings.prod"
    PYTHONPATH: "/var/app/current:$PYTHONPATH"

  aws:elasticbeanstalk:container:python:
    WSGIPath: "loginSignup.wsgi:application"

  aws:elasticbeanstalk:environment:proxy:
    ProxyServer: apache

container_commands:
  01_collectstatic:
    command: "cd /var/app/current && source $(find /var/app/venv -name activate) && python3 manage.py collectstatic --noinput"
    leader_only: true

  02_makemigrations:
    command: "cd /var/app/current && source $(find /var/app/venv -name activate) && python3 manage.py makemigrations --noinput"
    leader_only: true

  03_migrate:
    command: "cd /var/app/current && source $(find /var/app/venv -name activate) && python3 manage.py migrate"
    leader_only: true
